body{background-color: rgb(57, 27, 56);}
.container{text-align: center;color: aliceblue;}
p{text-align: center;color: aliceblue;}
h2{text-align: center;color: aliceblue;}
figcaption{text-align: center;color: aliceblue;}
ul{text-align: center;color: aliceblue;
word-spacing:3px;
padding: 10px;}
li{padding: 2.5px;}
.well{color: aliceblue;
position: absolute;
top: 8%;
text: size 1px;}
img{display:inline-flexbox;
    max-width:69%;
    height:auto;
    margin:0 auto;
width: auto;
position: relative;
left: 15%;

}
.video{position: absolute;
left:30%}
footer{text-align: center;color: aliceblue;
position: absolute;
left: 43%;
top: 215%;}
